<div class="forget-password container">
  <div class="row">
    <div class="column col-12 col-md-8 mx-auto mt-4">
      <h1 class="m-4 mt-5">Forget Password</h1>
    </div>
    <div class="column col-10 col-md-8 mx-auto my-auto mt-3">
      <form
        class="ms-4"
        [formGroup]="forgetPasswordForm"
        (ngSubmit)="submit(email.value)"
      >
        <div class="form-group mb-4">
          <label
            for="emailAddress"
            style="font-weight: 400; font-size: larger; font-family: Poppins"
            class="form-label m-1 mb-4"
            >Enter Your Email Address Or Phone Number</label
          >
          <input
            type="text"
            class="form-control mb-2"
            formControlName="email"
            id="emailAddress"
            #email
          />
          @if(email.value&&!forgetPasswordForm.controls['email'].valid){
          <span
            class="m-1 ms-2 mb-3"
            style="
              color: #bd4444;
              font-weight: 400;
              font-size: larger;
              font-family: Poppins;
            "
            >Invalid Email Address Or Phone Number</span
          >
          }
        </div>
        <div class="column col-10 d-flex mx-auto">
          <button
            type="submit"
            class="btn btn-dark w-25 mx-auto"
            style="font-weight: 500; padding: 12px"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
