<div class="container">
  <div class="row mt-5 mb-5 ms-2">
    <div class="column col-12">
      <div class="title">
        <span class="word-transparent">Home </span>
        <span class="word-transparent">/ </span>
        <span class="word">Contact</span>
      </div>
    </div>
  </div>

  <div class="row mb-4 details">
    <div class="column col-12 col-md-5 col-lg-4">
      <div class="site-info d-flex align-items-center justify-content-center">
        <div class="cont-1 d-flex flex-column g-1 align-items-start">
          <div
            class="call-us d-flex flex-column justify-content-between align-items-start"
          >
            <div
              class="head d-flex align-items-center justify-content-start g-2"
            >
              <div class="call-icon me-3"><i class="bi bi-telephone"></i></div>
              <span>Call To Us</span>
            </div>
            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone: +8801611112222</p>
          </div>
          <hr class="mx-auto mt-4 mb-3" />
          <div
            class="write-to-us d-flex flex-column justify-content-around align-items-start"
          >
            <div class="head d-flex align-items-center justify-content-start">
              <div class="envelope-icon me-3">
                <i class="bi bi-envelope"></i>
              </div>
              <span>Write To Us</span>
            </div>

            <p>Fill out our form and we will contact you within 24 hours.</p>
            <p>Emails: customer&#64;exclusive.com</p>
            <p>Emails: support&#64;exclusive.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-12 col-md-7 col-lg-8">
      <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <div class="personal-info d-flex p-3">
          <div
            class="d-flex flex-column align-items-start justify-content-between cont-2"
          >
            <div
              class="row-1 d-flex flex-column gap-2 align-items-center justify-content-between mb-5"
            >
              <input
                type="text"
                name=""
                #name
                id=""
                class="form-control w-100"
                formControlName="name"
                placeholder="Your Name"
              />
              <div
                class="valid"
                [ngClass]="{
                  'error-msg': !myForm.controls['name'].valid && name.value
                }"
              >
                <span *ngIf="!myForm.controls['name'].valid && name.value">
                  Name must be at least 3 characters long and contain only
                  letters.
                </span>
              </div>
              <input
                type="email"
                name=""
                #emailPhone
                id=""
                class="form-control w-100"
                formControlName="emailPhone"
                placeholder="Your Email or Phone"
              />
              <div
                class="valid"
                [ngClass]="{
                  'error-msg':
                    myForm.get('emailPhone')?.invalid && emailPhone.value
                }"
              >
                <span
                  *ngIf="myForm.get('emailPhone')?.invalid && emailPhone.value"
                >
                  Enter a valid email or phone number.
                </span>
              </div>
            </div>
            <div class="row-2 position-relative mt-5">
              <div class="mb-3">
                <label *ngIf="!message.value" for="message" class="form-label">
                  Example textarea
                </label>
                <textarea
                  class="form-control ps-3"
                  id="message"
                  #message
                  rows="3"
                  formControlName="message"
                ></textarea>
              </div>
            </div>
            <span *ngIf="!myForm.controls['message'].valid && message.value">
              Message is required.
            </span>
            <button class="button align-self-lg-end">Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
