<footer
  class="position-relative z-101 bg-black {{ hide ? 'd-none' : 'd-flex' }}"
>
  <div class="container-fluid d-flex flex-column">
    <div class="row scale-9">
      <div class="col-md-3 text-white">
        <div class="mb-4">
          <app-logo></app-logo>
        </div>
        <p class="mb-4">
          <a href="#"><i class="fa-solid fa-check"></i> Supscripe</a>
        </p>
        <p class="mb-4">
          <a href="#"
            ><i class="fa-brands fa-freebsd"></i> Get 10% Off Your First
            Order</a
          >
        </p>
        <input
          type="email"
          class="form-control mb-4"
          placeholder="Enter your email"
        />
        <!--icon -->
      </div>
      <div class="col-md-3 text-white">
        <h5 class="mb-4">Support</h5>
        <p class="mb-4">
          <a href="#"
            ><i class="fa-solid fa-code-branch"></i> 111,cairo,Ain
            Shams,Obour,Ismailia</a
          >
        </p>
        <p class="mb-4">
          <a href="#">
            <i class="fa-solid fa-envelope"></i> www.Exclusive.com</a
          >
        </p>
        <p>
          <a href="#" class="mb-4">
            <i class="fa-solid fa-phone"></i> +201111111111</a
          >
        </p>
      </div>
      <div class="col-md-2 text-white">
        <h5>Acount</h5>
        <p>
          <a href="#"><i class="fa-solid fa-user"></i> My Acount</a>
        </p>
        <p>
          <a href="#"><i class="fa-regular fa-user"></i> Login/Register</a>
        </p>
        <p>
          <a href="#"><i class="fa-solid fa-shopping-cart"></i> My Cart</a>
        </p>
        <p>
          <a href="#"><i class="fa-regular fa-heart"></i> Wish List</a>
        </p>
        <p>
          <a href="#" class="mb-4"><i class="fa-solid fa-shop"></i> Shop</a>
        </p>
      </div>
      <div class="col-md-2 text-white">
        <h5>Quick Links</h5>
        <p>
          <a href="#"> <i class="fa-solid fa-home"></i> Home</a>
        </p>
        <p>
          <a href="#"> <i class="fa-solid fa-info"></i> About Us</a>
        </p>
        <p>
          <a href="#"> <i class="fa-solid fa-envelope"></i> Contact Us</a>
        </p>
        <p>
          <a href="#"> <i class="fa-solid fa-question"></i> FAQ</a>
        </p>
        <p>
          <a href="#" class="mb-4"> <i class="fa-solid fa-star"></i> Brands</a>
        </p>
      </div>
      <div class="col-md-2 text-white">
        <h5>Dwenload App</h5>
        <p>
          <a href="#"><i class="fa-brands fa-apple"></i> App Store</a>
        </p>
        <p>
          <a href="#" class="mb-4"
            ><i class="fa-brands fa-google-play"></i> Google Play</a
          >
        </p>
        <h5 class="mt-4">Follow Us</h5>
        <div class="d-flex gap-4">
          <p>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </p>
          <p>
            <a href="#"><i class="fa-brands fa-twitter"></i> </a>
          </p>
          <p>
            <a href="#"><i class="fa-brands fa-instagram"></i> </a>
          </p>
          <p>
            <a href="#" class="mb-4"><i class="fa-brands fa-youtube"></i></a>
          </p>
        </div>
        <div>
          <h5 class="text-white">Payment</h5>
          <p>
            <a href="#"><i class="fa-brands fa-cc-visa"></i> visa</a>
          </p>
          <p>
            <a href="#"><i class="fa-brands fa-cc-paypal"></i> paypal</a>
          </p>
          <p>
            <a href="#"
              ><i class="fa-brands fa-cc-mastercard"></i> mastercard</a
            >
          </p>
        </div>
      </div>
    </div>
    <small class="text-center text-white mt-0 pb-3 d-flex m-auto mb-0">
      © 2025 Exclucive. All rights reserved.
    </small>
  </div>
</footer>
