a {
  text-decoration: none;
  color: black;
}
span {
  color: #db4444;
  font-weight: 700;
}
.activee {
  font-weight: bold;
  color: #bd4444;
}
.details label span {
  color: red;
}
.payment-icons i {
  font-size: 20px;
  margin-left: 10px;
}
img {
  max-height: 65px;
}
input[type="radio"] {
  border: 0.1px solid rgb(121, 121, 121);
}
input[type="radio"]:active {
  border: none;
}
.placeOrder {
  width: 25rem !important;
}
