* {
  font-family: "Poppins";
}
.card {
  width: 270px;
  height: 350px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  gap: 16px;
}
img {
  width: 172px;
  height: 152px;
}
.card-header,
.img-thumbnail {
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
}

.card-header {
  height: 250px;
  width: 270px;
}
.icon-container {
  top: 12px;
  left: 224px;
  gap: 8px;
}
.discount,
.new {
  top: 12px;
  left: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
}
.new {
  background-color: #00ff66;
}
.discount {
  background-color: var(--main);
}
.icon-container .btn {
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  padding: 0px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 8px;
  border: none;
  align-items: center;
}
.btn img {
  width: 16px;
  height: 16px;
}
.btn-light:hover,
.btn:hover {
  border: none;
}
.card-body {
  box-sizing: border-box;
  height: 84px;
  padding: 0px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}
.card-text {
  color: var(--main);
}
.price-container {
  gap: 12px;
}
.old-price {
  text-decoration: line-through;
  color: black;
  opacity: 50%;
}
