<div
  class="card border"
  [title]="'Shipping is ' + product.shipping"
  (click)="goToProduct()"
>
  <div class="card-header d-flex position-relative">
    <div class="badge-container">
      @if (isNew) {
      <div class="new">New</div>
      } @if (product.discount>0) {
      <div class="discount">
        {{ "-" + product.discount + "%" }}
      </div>
      }
    </div>

    <div
      style="background-image: url('{{ product.image }}')"
      class="card-img-top img-thumbnail m-auto"
    ></div>
  </div>
  <div class="card-body">
    <div class="card-title m-0 text-center" [title]="product.name">
      {{ product.name }}
    </div>
    <div
      class="d-flex price-container flex-wrap justify-content-center align-items-center border-top"
    >
      <div
        class="card-text old-price {{ product.discount == 0 ? 'd-none' : '' }}"
      >
        {{ oldPrice | currency : "USD" : "symbol-narrow" : "1.0" }}
      </div>
      <div class="card-text">
        {{ price | currency : "USD" : "symbol-narrow" : "1.0" }}
      </div>
      @if (product.shipping) {
      <i class="bi bi-plus-lg"></i>

      }
      <div [class]="product.shipping ? 'shipping' : 'free-shipping'">
        <div></div>
      </div>
    </div>
  </div>
</div>
