<section>
  <div class="Container">
    <div class="row">
      <div class="col-md-6">
        <div class="item">
          <h1>Our Story</h1>
          <p>
            Launced in 2015, Exclusive is South Asia’s premier online shopping
            makterplace with an active presense in Bangladesh. Supported by wide
            range of tailored marketing, data and service solutions, Exclusive
            has 10,500 sallers and 300 brands and serves 3 millioons customers
            across the region.
          </p>
          <p>
            Exclusive has more than 1 Million products to offer, growing at a
            very fast. Exclusive offers a diverse assotment in categories
            ranging from consumer.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="item">
          <img
            src="/images/7b85f8c1dcce81e71e2eb178be13bd4d.jpg"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>
