<section>
    <div class="Container">
        <div class="row justify-content-center" >
            <div class="col-md-2">
                <div class="item">
                    <div class="MyIcon">
                        <i class="fa-solid fa-house-user"></i>
                    </div>
                   <div>
                    <h2>10.5K</h2>
                    <p>Active Sellers in our site</p>
                   </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="item">
                    <div class="MyIcon">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                  <div>
                    <h2>33K</h2>
                    <p>Monthly Product Sale</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="item">
                    <div class="MyIcon">
                        <i class="fa-solid fa-box"></i>
                    </div>
                  <div>
                    <h2>45.5K</h2>
                    <p>Active Customers in our site</p>
                  </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="item">
                    <div class="MyIcon">
                        <i class="fa-solid fa-sack-dollar"></i>
                    </div>
                    <div>
                        <h2>25K</h2>
                        <p>Annual growth sale in our site</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

