<div class="container-fluid text-center cont">
  <div class="row r1">
    <div class="column box col-12">
      <div class="p1">
        <div class="title">
          <div class="icon"></div>
          <div class="text">Categories</div>
        </div>
        <div class="word"><p class="text-start">Browse By Category</p></div>
      </div>
      <div class="p2">
        <div><i class="bi bi-arrow-left"></i></div>
        <div><i class="bi bi-arrow-right"></i></div>
      </div>
    </div>
  </div>
  <div class="row r2 gy-5">
    <div class="cards">
      <i class="bi bi-tablet"></i>
      <p>Phones</p>
    </div>
    <div class="cards">
      <i class="bi bi-display"></i>
      <p>Computers</p>
    </div>
    <div class="cards">
      <i class="bi bi-smartwatch"></i>
      <p>SmartWatch</p>
    </div>
    <div class="cards">
      <i class="bi bi-camera"></i>
      <p>Camera</p>
    </div>
    <div class="cards">
      <i class="bi bi-headphones"></i>
      <p>HeadPhones</p>
    </div>
    <div class="cards">
      <i class="bi bi-controller"></i>
      <p>Gaming</p>
    </div>
  </div>
</div>
