<div class="gap-24 d-flex flex-column">
  <app-title title="Today's"></app-title>
  <h1>Flash sales</h1>
  <div class="d-flex gap-5 flex-wrap">
    <app-product-card
      productImg="https://s3-alpha-sig.figma.com/img/5d5c/2e52/50752d55f8b60f2aa2923183dadbc135?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=Lue-WfNRxXsWTtiD1iUM~cfhT4rDJO8dbUzqCA1upxp3l8rtJUDNL90P801snSqj7s5rncO~VjwPhzFT4eGuLTBbmMln2mfFhBVM6hKxZzNxrgnyLGo5-bmuPhs~Ie4gIWspVKSbHFSDvi1ZURKt-RaOGvaipxRqawKg-3zKxIORIwPfHOiyE9WGwmhLRE9WAkVMTplY1NMumImMBEpcw3Gjg-IPXO~L9Gi90MBLUgc834o-ERLZrMxZM9kj7z97~cdYbU7N-N4NZE2teQC2MxoefxyozPBKZ0NIz-KKJ7~KgCeqKJW4h-rwfweCINWQ5UDpDyIBTZyOv4AY-PDj2Q__"
      badge="discount"
      productName="HAVIT HV-G92 Gamepad"
      price="140"
      oldPrice="160"
      discount="40"
    ></app-product-card>
    <app-product-card
      productImg="https://s3-alpha-sig.figma.com/img/5f4e/a9ac/f805319ddf3897fc9daaf58559542260?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=C6sYEP95V8tm3LoKkLjib65QGkRWhmGMM05iUGE5SmXkrmdEiAwHAfSmJWMxDaF-rY4r0TY7j62gIx1kUF7mVeJlCmU-qyCWsmV4z-KtqploBpTSGDzQOF~oaozPMs3mdfDZDLuuI~FxFDS8oEtXyaiurMwv74aTxAODlVYyXi3A89KI4ElTWvP9zwYCo2~ZmGcuZPkOpOoqAgut68Pq8ywvCI4FxA97HJstqF92MT0hqKH2M7743wqDPNR8bQmovUUJPsMpu-rvsZpo20yU3X9r5jug8hzSCbwK-J7ACaMC6BZbVCQ5GyoVP2-8r4wSJEbQkzMO0dnznr75HjKG2g__"
      badge="new"
      productName="Kids Electric Car"
      price="960"
    ></app-product-card>
    <app-product-card
      productImg="https://s3-alpha-sig.figma.com/img/d0b7/bb25/884f6fdfc1357634d7d7b09e05755c2f?Expires=1740960000&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=fDpeHi6sgXS~9q2pSyux2Ge7y8VnhAF1hUdJM7GaSQet3iINskMYmYtrY5g0jA9RzQ54hGGr8WszYeQljJxymhvWVtQ4wJXlqXG2xbI2LPImQoYXBIRh2U95XtwWLqkiPgLlU4W4A5iGnjJR1Ev1o6rMXrd3ybuQTubkKz4TStA7V4d5CRB6atisCjaIKY4lillCT3g39Ds5MjewGz~NVvUtWd7CWIN15MMEpSFFFy~HLhYxvjq5guSZHku8oKJerR-h-Vm~pXZZnyF0KW3sXEV8ugWnm2gJCt4jGLxvp3ulqGoVn2wpUDvJaMtmMu3kaNMdkBV9bZQKq8Y~R4DUzQ__"
      badge="none"
      productName="Jr. Zoom Soccer Cleats"
      price="1160"
    ></app-product-card>
  </div>
</div>
