<div class="Container mt-5">
    <div class="row justify-content-center justify-content-evenly">
        <div class="col-md-2 bg-transparent">
            <div class="item">
                <div class="text-center">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="title">
                    <h5>FREE AND FAST DELIVERY</h5>
                    <p>Free delivery for all orders over $140</p>
                </div>
             
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <div class="item bg-transparent">
                <div class="text-center">
                    <i class="fa-solid fa-headphones"></i>
                </div>
                <div class="title">
                    <h5>24/7 CUSTOMER SERVICE</h5>
                    <p>Friendly 24/7 customer support</p>
                </div>
              
            </div>
        </div>
        <div class="col-md-2 bg-transparent">
            <div class="item">
                <div class="text-center">
                    <i class="fa-solid fa-money-check-dollar"></i>
                </div>
                <div class="title">
                    <h5>MONEY BACK GUARANTEE</h5>
                    <p>We reurn money within 30 days</p>
                </div>
               
            </div>
        </div>
</div>

