[role="search"] {
  max-width: 900px;
  position: relative;
}
[aria-label="Search"] {
  padding-left: 35px !important;
}
.bi {
  color: #a5b2b6;
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
}
.btn-light:hover {
  background-color: var(--light) !important;
}

.container-fluid > div > .btn {
  transform: scale(0.8);
  width: 67px;
  justify-content: center;
}
.btn-outline-light:hover {
  background-color: #a5b2b600 !important;
  color: var(--light);
}
.container-search {
  max-width: 900px;
  transform: scale(0.85);
}
