<nav
  class="navbar navbar-expand-lg bg-body-tertiary sticky-top py-lg-1  py-0 pt-1 {{
    hide ? 'd-none' : 'd-flex'
  }}"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <app-logo [scale]="0.8"></app-logo>

    <div
      class="mx-auto d-flex gap-1 w-100 container-search border-0 d-lg-flex d-none"
    >
      <form
        class="d-flex w-100"
        role="search"
        (submit)="onSubmitSearch($event)"
      >
        <div class="dropdown">
          <button
            type="button "
            class="btn btn-dark dropdown-toggle btn-sm w-100 rounded-0 border"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            @if (!selectedCategory) {
            <div
              class="spinner-border spinner-border-sm text-light me-4"
              role="status"
            ></div>
            } @else {

            {{ selectedCategory.name }}
            }
          </button>
          <ul class="dropdown-menu rounded-0">
            @for (category of categories.data; track $index) {
            <li>
              <span
                class="dropdown-item"
                (click)="onSelectCategory(category)"
                >{{ category.name }}</span
              >
            </li>

            }
          </ul>
        </div>
        <input
          class="form-control rounded-0 border w-100"
          type="search"
          placeholder="Find it faster with a search"
          aria-label="Search"
          (change)="onChangeSearch($event)"
          [value]="searchText"
        />
        <div class="btn-search border">
          <button
            class="btn btn-outline-light btn-sm rounded-0 w-100 fw-bold border-0"
            type="submit"
          >
            <i class="bi bi-search h-100"></i>
          </button>
        </div>
      </form>
    </div>
    @if (!isUser) {
    <div>
      <button class="btn btn-sm btn-outline-light me-1" routerLink="signup">
        Sign up
      </button>
      <button class="btn btn-sm btn-light" routerLink="login">Log in</button>
    </div>
    } @else {
    <div class="btn-group">
      <div
        class="dropdown-toggle px-2 text-light d-flex justify-content-center align-items-center bg-dark text-light"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ user ? user.name : "" }}
      </div>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item" (click)="goToAcount()">Profile</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="goToMyCart()">My Cart</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>

    }
  </div>
  <nav
    class="navbar navbar-expand-lg bg-light flex-nowrap d-flex d-lg-none shadow border-top justify-content-center w-100 mt-1"
    data-bs-theme="light"
  >
    <div class="mx-auto d-flex gap-1 w-100 container-search border">
      <div class="">
        <button
          type="button"
          class="btn btn-light dropdown-toggle dropdown-sm border-0 border-end rounded-0"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          @if (!selectedCategory) {
          <div
            class="spinner-border spinner-border-sm me-4"
            role="status"
          ></div>
          } @else {

          {{ selectedCategory.name }}
          }
        </button>
        <ul class="dropdown-menu">
          @for (category of categories.data; track $index) {
          <li>
            <span class="dropdown-item" (click)="onSelectCategory(category)">{{
              category.name
            }}</span>
          </li>

          }
        </ul>
      </div>
      <form
        class="d-flex w-100 border-0"
        role="search"
        (submit)="onSubmitSearch($event)"
      >
        <input
          class="form-control border-0 w-100 bg-light"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (change)="onChangeSearch($event)"
          [value]="searchText"
        />
        <i class="bi bi-search bi-sm h-100"></i>
      </form>
    </div>
  </nav>
</nav>
