.list-group-item[data-bs-toggle="collapse"] i {
  transition: transform 0.3s;
}

.list-group-item[data-bs-toggle="collapse"][aria-expanded="true"] i {
  transform: rotate(90deg);
}

.w {
  width: 230px;
}
i {
  opacity: 0.5;
}
a {
  width: 230px;
  display: flex;
}
