<div class="container">
  <div class="row justify-content-end">
    <div class="col-md-3">
      <div class="bg-dark position-fixed end-0 top-50 translate-middle-y">
        <div class="list-group list-group-flush">
          <!-- First collapsible tab -->
          <a
            class="list-group-item bg-dark text-white d-flex justify-content-around align-items-center"
            data-bs-toggle="collapse"
            href="#collapseTab1"
            role="button"
            aria-expanded="false"
            aria-controls="collapseTab1"
          >
            Woman's Fashion
            <i class="bi bi-arrow-right-short ms-3"></i>
          </a>
          <div class="collapse" id="collapseTab1">
            <a
              role="button"
              class="list-group-item list-group-item-action bg-light text-black"
              >First</a
            >
            <a
              role="button"
              class="list-group-item list-group-item-action bg-light text-black"
              >Second</a
            >
            <a
              role="button"
              class="list-group-item list-group-item-action bg-light text-black"
              >Third</a
            >
          </div>

          <!-- Second collapsible tab -->
          <a
            class="list-group-item list-group-item-action bg-dark text-white d-flex justify-content-between align-items-center"
            data-bs-toggle="collapse"
            href="#collapseTab2"
            role="button"
            aria-expanded="false"
            aria-controls="collapseTab2"
          >
            Men's Fashion
            <i class="bi bi-arrow-right-short ms-3"></i>
          </a>
          <div class="collapse" id="collapseTab2">
            <a
              role="button"
              class="list-group-item list-group-item-action bg-light text-black"
              >First</a
            >
            <a
              role="button"
              class="list-group-item list-group-item-action bg-light text-black"
              >Second</a
            >
            <a
              role="button"
              class="list-group-item list-group-item-action bg-light text-black"
              >Third</a
            >
          </div>

          <!-- Remaining tabs -->
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Electronics</a
          >
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Home & Lifestyle</a
          >
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Medicine</a
          >
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Sports & Outdoor</a
          >
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Baby's & Toys</a
          >
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Groceries & Pets</a
          >
          <a
            role="button"
            class="list-group-item list-group-item-action bg-dark text-white"
            >Health & Beauty</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
