<div class="container-fluid">
  <div class="row mt-2 mb-2">
    <div class="column col-12">
      <div class="title ms-4">
        <span class="word-transparent">Home </span>
        <span class="word-transparent">/ </span>
        <span class="word">Cart</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column col-12 mx-auto col-md-7 col-lg-7 me-2 mb-3">
      <div class="tablee">
        <div class="thead d-flex justify-content-start align-items-center mb-2">
          <div class="td product"><span class="text">Product</span></div>
          <div class="td price"><span class="text">Price</span></div>
          <div class="td quantity"><span class="text">Quantity</span></div>
          <div class="td subtotal"><span class="text">Subtotal</span></div>
        </div>
        <div
          class="tr d-flex justify-content-start align-items-center mb-3"
          *ngFor="let product of productsArray; let i = index"
        >
          <div class="td product">
            <div class="product-description">
              <div
                class="item d-flex justify-content-start align-items-center position-relative"
              >
                <div
                  class="product-image me-3"
                  [style.backgroundImage]="'url(' + product.image + ')'"
                >
                  <div class="product-cancel position-absolute">
                    <i class="bi bi-circle-fill cancel-circle text-center"></i>
                    <i
                      class="bi bi-x cancel-x position-absolute text-center"
                      (click)="canceled(i)"
                    ></i>
                  </div>
                </div>
                <span class="text">{{ product.name }}</span>
              </div>
            </div>
          </div>
          <div class="td price text">
            <span class="text">{{
              product.price | currency : "USD" : "symbol-narrow" : "1.0"
            }}</span>
          </div>
          <div class="td quantity">
            <div class="custom-input">
              <input
                class="quantity-input"
                type="number"
                [(ngModel)]="product.quantity"
                min="1"
              />
              <div class="spinner-buttons">
                <button class="increment" (click)="increaseValue(i)">
                  <i class="bi bi-chevron-up"></i>
                </button>
                <button class="decrement" (click)="decreaseValue(i)">
                  <i class="bi bi-chevron-down"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="td subtotal">
            <!-- <span class="text">{{
              product.quantity! * product.price -
              ((product.discount * product.price) / 100).toPrecision()
                | currency : "USD" : "symbol-narrow" : "1.0"
            }}</span> -->
            <span class="text">{{
              getSubtotal(product) | currency : "USD" : "symbol-narrow"
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-11 mx-auto col-md-4 col-lg-4 mb-2 mt-3">
      <div class="cart-total w-100">
        <div
          class="cart-det mx-auto my-auto d-flex flex-column align-items-start justify-content-evenly"
        >
          <p>Cart Total</p>
          <div class="subtotal-div">
            <div class="label">Subtotal:</div>
            <div class="text">
              {{ totalPrice }}
            </div>
          </div>
          <hr />
          <div class="subtotal-div">
            <div class="label">Shipping:</div>
            <div class="text">{{ totalShipping }}</div>
          </div>
          <hr />
          <div class="subtotal-div">
            <div class="label">Total:</div>
            <div class="text">
              {{ totalShipping == 0 ? totalPrice : totalPrice + totalShipping }}
            </div>
          </div>
          <button
            class="button mx-auto process-to-checkout"
            type="button"
            (click)="sub()"
          >
            Procees to checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-between"></div>
