<div class="d-flex">
  <app-side-bar></app-side-bar>
  <div class="d-flex gap-5 flex-column pb-5 container">
    <div class="p-3 d-flex flex-wrap justify-content-evenly gap-5">
      @for (product of wishlist; track $index) {
      <app-product-card
        productImg="{{ product.img }}"
        badge="discount"
        productName="{{ product.name }}"
        price="{{ product.price }}"
        oldPrice="{{ product.oldPrice }}"
        discount="{{ product.discount }}"
        [wishlist]="true"
      ></app-product-card>
      }
      <div class="hidden-card"></div>
      <div class="hidden-card"></div>
      <div class="hidden-card"></div>
      <div class="hidden-card"></div>
    </div>
  </div>
</div>
