<div class="Container mt-5">
  <div class="row justify-content-center justify-content-evenly">
    <div class="col-md-2 bg-transparent">
      <div class="item">
        <div class="imgs text-bg-light p-3 rounded-3">
          <img
            src="/images/a2fe88af0272adecd83422d0cb7e20d7.png"
            alt=""
            class="w-100"
          />
        </div>
        <div class="title">
          <h5>mohmed</h5>
          <p>Backend Dev</p>
        </div>
        <div class="SocialMedia">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="item bg-transparent">
        <div class="imgs text-bg-light p-3 rounded-3">
          <img
            src="/images/5df8103b281240ce5bafe5dd7d215ab8.png"
            alt=""
            class="w-100"
          />
        </div>
        <div class="title">
          <h5>mohmed</h5>
          <p>Backend Dev</p>
        </div>
        <div class="SocialMedia">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>
    </div>
    <div class="col-md-2 bg-transparent">
      <div class="item">
        <div class="imgs text-bg-light p-3 rounded-3">
          <img
            src="/images/5afc043392ee3cbb529f429b3e2098d3.png"
            alt=""
            class="w-100"
          />
        </div>
        <div class="title">
          <h5>mohmed</h5>
          <p>Backend Dev</p>
        </div>
        <div class="SocialMedia">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
</div>
