<div class="reset-password container">
  <div class="row">
    <div class="column col-12 col-md-8 mx-auto mt-4">
      <h1 class="m-4 mt-5">Reset Password</h1>
    </div>
    <div class="column col-10 col-md-9 mx-auto my-auto mt-1">
      <form
        class="ms-4"
        [formGroup]="resetPasswordForm"
        (submit)="changePassword()"
        class="row g-3 w-75 m-auto"
      >
        <div class="form-group mb-4">
          <label
            for="newPass"
            style="font-weight: 400; font-size: larger; font-family: Poppins"
            class="form-label m-1 mb-4"
            >Enter New Password</label
          >
          <input
            type="password"
            class="form-control mb-2"
            formControlName="newPassword"
            id="newPass"
            #newPass
          />
          @if(newPass.value&&!resetPasswordForm.controls['newPassword'].valid){
          <span
            class="m-1 ms-2 mb-3"
            style="
              color: #bd4444;
              font-weight: 400;
              font-size: larger;
              font-family: Poppins;
            "
            >Password must be at least one UpperCase , one lowerCase , a special
            Character and a number</span
          >
          }
        </div>
        <div class="form-group mb-4">
          <label
            for="confirmPass"
            style="font-weight: 400; font-size: larger; font-family: Poppins"
            class="form-label m-1 mb-4"
            >Confirm New Password</label
          >
          <input
            type="password"
            class="form-control mb-2"
            formControlName="confirmPassword"
            id="confirmPass"
            #confirmPass
          />
          @if (confirmPass.value&&!isMatched) {
          <span style="color: #bd4444">Passwords are not matched</span>
          }
        </div>
        <div class="form-group row col-10 d-flex mx-auto mt-2">
          <div class="column col-md-12 d-flex mx-auto mb-5">
            <button
              type="submit"
              style="background-color: #bd4444"
              class="btn btn-primary m-2 border-0 w-50 mx-auto"
              [disabled]="!checkValid"
            >
              Save Changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
